/* -----------Css-variable------ */

:root {
  --light-purple: #f6f4fe;
  --purple: #6a49f2;
  --bg-purple: #6a49f2;
  --dark-purple: #32236f;
  --dark-bg-text: #9995b1;
  --body-text-purple: #3e3f66;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --slider-dots-color: #d4d2dd;
  --light-bg: #dfdaf3;
  --orange: #ed7d39;
  --body-text-orange: #ed7d39;
  --bg-orange: #ed7d39;

  --test-kart-badge-padding-x: 0.5rem;
  --test-kart-badge-padding-y: 0.33rem;
  --test-kart-badge-font-size: 0.75rem;
  --test-kart-badge-font-weight: 500;
  --test-kart-badge-color: #fff;
  --test-kart-badge-border-radius: 0.375rem;
}

/* ------Common-Css------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.7;
  /* font-family: 'Poppins', sans-serif; */
  color: var(--body-text-purple);
  /*background-color: var(--light-purple);*/
}

.page_wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: var(--body-text-purple);
}

a:hover {
  text-decoration: none;
  color: var(--body-text-purple);
}

ul,
li {
  padding: 0;
  /* list-style-type: none; */
  margin: 0;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section_title {
  text-align: center;
}

/* section heading h2 */
.section_title h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark-purple);
}

.section_title h2 span {
  color: var(--orange);
}

.row_am {
  padding: 50px 0;
}

/* purple button */
.orange_btn {
  background-color: var(--orange);
  color: var(--text-white);
  border-radius: 50px;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
}

.orange_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 50px;
  transition: 0.6s all;
  z-index: -1;
}

.orange_btn:hover::before {
  width: 100%;
}

.orange_btn:hover {
  color: var(--orange);
}

/* white button */
.white_btn {
  padding: 10px 45px;
  border: 1px solid var(--purple);
  color: var(--purple);
  border-radius: 50px;
  background-color: var(--bg-white);
  font-weight: 700;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 500;
}

.white_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-purple);
  border-radius: 50px;
  transition: 0.6s all;
  z-index: -1;
}

.white_btn:hover::before {
  width: 110%;
}

.white_btn:hover {
  color: var(--text-white);
}

.highlited_block .white_btn:hover {
  border-color: var(--bg-white);
}

/* slider controls */
.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.owl-carousel .owl-dots button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--slider-dots-color);
  border-radius: 15px;
  margin: 0 5px;
}

.owl-carousel .owl-dots button.active {
  background-color: var(--purple);
}

/* -------------Preloader-Css-Start-------------- */

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--bg-purple);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--body-text-purple);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--dark-purple);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -----------Header-Css-Start------------------- */
/* header wraper */
header {
  position: relative;
  width: 100%;
  z-index: 99999;
  transition: 0.4s all;
}

header.fix_style {
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: #ffffffb4;
  padding: 15px 0;
  transition: none;
  opacity: 0;
  pointer-events: none;
}

header.fixed {
  pointer-events: all;
  opacity: 1;
  transition: 0.4s all;
}

header.fixed .navbar {
  padding: 0;
}

/* navigation bar */
.navbar {
  padding-left: 0;
  padding-right: 0;
  z-index: 500;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 20px;
  font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--purple);
}

.navbar-expand-lg .navbar-nav .nav-link.dark_btn {
  color: var(--text-white);
  background-color: var(--purple);
  font-size: 16px;
  padding: 9px 40px;
  border-radius: 25px;
  margin-left: 20px;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.dark_btn::before,
.navbar-expand-lg .navbar-nav .nav-link.dark_btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 42px;
  z-index: -1;
}

.navbar-expand-lg .navbar-nav .nav-link.dark_btn::before {
  animation: pulse-blue-medium-sm 3.5s infinite;
}

.navbar-expand-lg .navbar-nav .nav-link.dark_btn::after {
  animation: pulse-blue-small-sm 3.5s infinite;
}

.navbar-brand img {
  width: 150px;
}

/* navigation bar dropdown */
.navbar-expand-lg .navbar-nav .has_dropdown {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px 10px 0 0;
  transition: 0.4s all;
}

.navbar-expand-lg .navbar-nav .has_dropdown:hover {
  background-color: var(--bg-white);
  box-shadow: 0px 4px 10px #c5c5c580;
}

.navbar-expand-lg .navbar-nav .has_dropdown .drp_btn {
  position: relative;
  right: 15px;
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu {
  position: absolute;
  top: 100%;
  background-color: var(--bg-white);
  border-radius: 0 10px 10px 10px;
  min-width: 210px;
  max-width: 230px;
  margin-top: -10px;
  transition: 0.4s all;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 4px 10px #c5c5c580;
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu ul {
  margin-left: 0;
  padding: 10px 20px;
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu ul li a {
  font-size: 15px;
  position: relative;
  transition: 0.4s all;
  line-height: 35px;
  font-weight: 500;
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu ul li a::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid var(--purple);
  border-radius: 10px;
  margin-right: 5px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.4s all;
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu ul li a:hover {
  padding-left: 15px;
  color: var(--purple);
}

.navbar-expand-lg .navbar-nav .has_dropdown .sub_menu ul li a:hover::before {
  opacity: 1;
  left: 0;
}

.navbar-expand-lg .navbar-nav .has_dropdown:hover>a,
.navbar-expand-lg .navbar-nav .has_dropdown:hover>.drp_btn {
  color: var(--purple);
}

.navbar-expand-lg .navbar-nav .has_dropdown:hover .sub_menu {
  opacity: 1;
  pointer-events: all;
  margin-top: -1px;
}

/* navigation toggle menu */
.toggle-wrap {
  padding: 10px;
  position: relative;
  cursor: pointer;

  /*disable selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-bar {
  width: 25px;
  margin: 10px 0;
  position: relative;
  border-top: 4px solid var(--body-text-purple);
  display: block;
}

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: var(--body-text-purple);
  height: 4px;
  width: 30px;
  position: absolute;
  top: -12px;
  right: 0px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}

.toggle-bar::after {
  top: 4px;
}

.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}

.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ---------Hero-Slider-Css-Start------------------ */
/* hero banner wraper */
.banner_section {
  margin-top: 150px;
  position: relative;
}

.banner_section .container {
  position: relative;
}

.banner_section .row {
  align-items: center;
}

/* hero banner text */
.banner_section .banner_text {
  margin-top: -50px;
}

/* hero banner heading h1 */
.banner_section .banner_text h1 {
  font-size: 50px;
  color: var(--dark-purple);
  letter-spacing: -1.5px;
  font-weight: 700;
}

.banner_section .banner_text h1 span {
  color: var(--orange);
}

/* trial box  wraper */
.trial_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  width: 100%;
}

.trial_box form {
  width: 60%;
}

/* trial input  */
.trial_box form {
  display: flex;
}

.trial_box form .form-group {
  margin-bottom: 0;
}

.trial_box form .form-group .form-control {
  width: 360px;
  height: 55px;
  border-radius: 6px;
  color: var(--dark-purple);
}

.trial_box form .form-group .form-control::placeholder {
  color: var(--dark-purple);
}

/* trial_box button */
.trial_box form .form-group .btn {
  height: 55px;
  width: 170px;
  text-transform: uppercase;
  color: var(--text-white);
  background-color: var(--bg-orange);
  border-radius: 6px;
  margin-left: 10px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.trial_box form .form-group .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 0;
  transition: 0.6s all;
  z-index: -1;
}

.trial_box form .form-group .btn:hover::before {
  width: 100%;
}

.trial_box form .form-group .btn:hover {
  color: var(--orange);
}

/* hero slider button */
.banner_section .app_btn {
  display: flex;
  align-items: center;
}

/* trial box text */
.trial_box_list ul {
  position: relative;
  display: flex;
  justify-content: center;
}

.trial_box_list ul li {
  text-align: left;
  padding: 0 25px 0 0;
  font-size: 15px;
}

/* hero banner list */
.banner_section .app_btn li a {
  display: block;
  padding: 12px 30px;
  background-color: var(--bg-white);
  border: 2px solid var(--purple);
  position: relative;
  border-radius: 12px;
  transition: 0.4s all;
}

.banner_section .app_btn li:last-child {
  margin-left: 25px;
}

.banner_section .app_btn li a img {
  transition: 0.4s all;
}

.banner_section .app_btn li a .white_img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.banner_section .app_btn li a:hover {
  background-color: var(--purple);
}

.banner_section .app_btn li a:hover .blue_img {
  opacity: 0;
}

.banner_section .app_btn li a:hover .white_img {
  opacity: 1;
}

/* hero banner users */
.banner_section .used_app {
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: center;
}

.banner_section .used_app ul {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.banner_section .used_app ul li:not(:first-child) {
  margin-left: -15px;
}

.banner_section .used_app p {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0;
}

/* hero slider images */
.banner_section .banner_images {
  /*display: flex;*/
  position: relative;
}

.banner_section .banner_images img {
  border-radius: 20px;
  box-shadow: 0px 4px 10px #ca97e4;
  margin-bottom: 20px;
}

.banner_section .banner_images {
  text-align: right;
}

.banner_section .banner_images.image_box2 {
  text-align: left;
}

.banner_section .banner_images .banner_image1 img {
  animation-delay: 1s;
}

.banner_section .banner_images .banner_image2 img {
  animation-delay: 4s;
}

.banner_section .banner_images .banner_image3 img {
  animation-delay: 3s;
}

.banner_section .banner_images .banner_image4 img {
  animation-delay: 2s;
}

/* hero banner bg animation */
.banner_section .hero_bg {
  position: absolute;
  top: -200px;
  right: 50px;
}

.banner_section .hero_bg {
  animation: mymove 10s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
}

/* hero banner control dots */
.banner_section .owl-dots {
  margin-top: 40px;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  width: auto;
}

/* ------------Trusted-Section-Css-Start----------- */

/* trusted logos wraper */
.trusted_section {
  padding: 100px 0;
}

.trusted_section .company_logos {
  padding-top: 20px;
}

.trusted_section .company_logos img {
  filter: grayscale(1);
  margin: 0 auto;
  transition: 0.4s all;
}

.trusted_section .company_logos img:hover {
  filter: grayscale(0);
}

/* ----------Feature-Detail-Section-start------ */

/* features section wraper */
.features_section {
  padding-top: 150px;
  position: relative;
}

/* features section image */
.features_section .features_inner .feature_img {
  width: 70%;
  /*height: 50%;*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: -90px;
  left: 0;
  bottom: 0;
  right: 0;
}

.features_section .features_inner .feature_img img {
  max-width: 100%;
}

.features_section .container {
  max-width: 1370px;
}

.features_section .features_inner {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 70px 0 70px 0;
  border-radius: 30px;
  box-shadow: 0px 4px 30px #ede9fe;
  border: solid 1px var(--bg-white);
}

/* features box block */
.features_section .features_inner .features_block {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

/* features section box */

.features_section .features_inner .feature_box {
  width: 100%;
  text-align: left;
}

.features_section .features_inner .feature_box .image {
  position: relative;
  max-width: 100%;
}

.features_section .features_inner .feature_box .image img {
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}

.features_section .features_inner .feature_box .text {
  padding: 50px 0 0 0;
}

.features_section .features_inner .feature_box .text h4 {
  font-size: 20px;
  color: var(--dark-purple);
  font-weight: 600;
}

/* feature section bg animation */

.feature_section_bg {
  position: absolute;
  top: 0;
  left: -300px;
}

/* bg animation */
.feature_section_bg {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}

/* -----------------About-App-Section-Css-Start------------------ */

/* about us section wraper */
.about_app_section .about_img {
  display: flex;
  align-items: center;
  position: relative;
}

/* about us section images*/
.about_app_section .about_img img {
  max-width: 100%;
}

.about_app_section .about_img::before {
  content: "";
  position: absolute;
  left: 38%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: var(--bg-white);
  border-radius: 100%;
  z-index: -1;
}

.about_app_section .about_img .screen_img {
  margin-left: -135px;
  margin-top: 110px;
}

.about_app_section .about_text .section_title {
  text-align: left;
}

.about_app_section .about_text .section_title h2 {
  margin-bottom: 15px;
}

/* about us section  statastics nomber */
.about_app_section .about_text .app_statstic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about_app_section .about_text .app_statstic li {
  width: 248px;
  background-color: var(--bg-white);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 15px 10px;
  padding-left: 35px;
  box-shadow: 0px 4px 10px #ede9fe;
}

.about_app_section .about_text .app_statstic li .icon {
  margin-right: 9px;
}

.about_app_section .about_text .app_statstic li p {
  margin-bottom: 0;
  line-height: 1;
  color: var(--dark-purple);
}

.about_app_section .about_text .app_statstic li p:first-child {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 3px;
}

/* -------------How_It_Works-Section-Css-Start------------------ */

/* how it works wraper */
.how_it_works {
  position: relative;
}

.how_it_works .container {
  max-width: 1370px;
}

.how_it_works .how_it_inner {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px var(--bg-white);
  padding: 70px 0;
  padding-bottom: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 30px #ede9fe;
}

/* how it works list */
.how_it_works .step_block ul {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

.how_it_works .step_block ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}

.how_it_works .step_block ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 4px;
  height: calc(100% + 100px);
  background-color: var(--light-bg);
}

.how_it_works .step_block ul li:first-child::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background-color: var(--light-bg);
  border-radius: 15px;
}

.how_it_works .step_block ul li:first-child::before {
  top: 0;
}

.how_it_works .step_block ul li:last-child::before {
  height: 50%;
  top: 0;
}

.how_it_works .step_block ul li .step_text,
.how_it_works .step_block ul li .step_img {
  width: 360px;
  text-align: right;
}

/* how it works image */
.how_it_works .step_block ul li .step_img img {
  max-width: 100%;
  border-radius: 16px;
}

/* how it works heading h4 */
.how_it_works .step_block ul li .step_text h4 {
  font-size: 20px;
  font-weight: 600;
}

.how_it_works .step_block ul li .step_text .app_icon {
  margin-bottom: 10px;
}

.how_it_works .step_block ul li .step_text .app_icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--light-bg);
  color: var(--text-white);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  transition: 0.4s all;
}

.how_it_works .step_block ul li .step_text .app_icon a:hover {
  background-color: var(--purple);
}

.how_it_works .step_block ul li .step_text span {
  font-weight: 600;
}

.how_it_works .step_block ul li .step_text span a {
  color: var(--purple);
  text-decoration: underline;
}

.how_it_works .step_block ul li:nth-child(2) {
  flex-direction: row-reverse;
}

.how_it_works .step_block ul li:nth-child(2) .step_text,
.how_it_works .step_block ul li:nth-child(2) .step_img {
  text-align: left;
}

/* how it works numbers */
.how_it_works .step_block ul li .step_number {
  background-position: center;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 200px;
}

.how_it_works .step_block ul li .step_number.number1 {
  background: #fff1da;
  border: #f9e8cd solid 7px;
}

.how_it_works .step_block ul li .step_number.number2 {
  background: #d8fdff;
  border: #c5f5f8 solid 7px;
}

.how_it_works .step_block ul li .step_number.number3 {
  background: #ffe9f1;
  border: #fcdde9 solid 7px;
}

/* how it works numbers heading h3 */
.how_it_works .step_block ul li .step_number h3 {
  font-size: 30px;
  font-weight: 600;
  padding-top: 8px;
}

/* how it work section bg animation */

.how_section_bg {
  position: absolute;
  top: 0;
  left: -300px;
  z-index: -1;
}

/* bg animation */
.how_section_bg {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}

/* ------------Testimonial-Slider-Css-Start------------- */
/* testimonials wraper  */
.testimonial_section {
  padding: 50px 0 100px 0;
}

#testimonial_slider {
  max-width: 550px;
  margin: 0 auto;
}

.testimonial_section .testimonial_block {
  /* background-image: url(../images/testimonial_bg.png); */
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 65px;
}

.testimonial_section .testimonial_block .testimonial_slide_box {
  text-align: center;
  width: 430px;
  padding: 10px;
  margin: 0 auto;
}

/* testimonials rating  */
.testimonial_section .testimonial_block .rating span {
  color: #fc9400;
  font-size: 18px;
}

.testimonial_section .testimonial_block .testimonial_slide_box .review {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* testimonials image  */
.testimonial_section .testimonial_block .testimonial_slide_box .testimonial_img img {
  margin: 0 auto;
}

/* testimonials heading h3 */
.testimonial_section .testimonial_block .testimonial_slide_box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.testimonial_section .testimonial_block .testimonial_slide_box .designation {
  font-size: 15px;
}

/* testimonials total review */
.testimonial_section .total_review {
  text-align: center;
  margin-top: 60px;
}

.testimonial_section .total_review .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* testimonials paragraph */
.testimonial_section .total_review .rating p {
  margin-bottom: 0;
  font-weight: 600;
  margin-left: 5px;
  color: var(--dark-purple);
}

/* testimonials heading */
.testimonial_section .total_review h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--dark-purple);
}

.testimonial_section .total_review a {
  color: var(--purple);
  font-weight: 700;
}

.testimonial_section .testimonial_block .avtar_faces {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
}

.testimonial_section .testimonial_block .avtar_faces img {
  max-width: 100%;
}

/* -------------FAQ-Section-Css-Start----------------- */

/* faq wraper */
.faq_section {
  /* padding: 100px 0; */
  position: relative;
}

.faq_section .faq_panel {
  margin-top: 40px;
}

/* faq box */
.faq_section .faq_panel .card {
  border: none;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: var(--light-purple);
  padding: 16px 0;
}

.faq_section .faq_panel .card:last-child {
  margin-bottom: 0;
}

.faq_section .faq_panel .card-header {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

.faq_section .faq_panel .card-header .btn {
  padding: 0;
  color: var(--dark-purple);
  font-weight: 600;
  font-size: 20px;
}

.faq_section .faq_panel .card-header .btn.active {
  color: var(--purple);
}

.faq_panel .accordion button,
.faq_panel .accordion button:hover,
.faq_panel .accordion button:focus {
  text-decoration: none;
}

.faq_section .faq_panel .card-header .icon_faq {
  position: absolute;
  right: 20px;
  color: #839bc0;
}

/* faq heading h2 */
.faq_section .faq_panel .card-header h2 {
  line-height: 1;
}

/* faq paragraph */
.faq_section .faq_panel .card-body {
  padding-bottom: 0;
}

/* feature section bg animation */

.faq_section .faq_bg {
  position: absolute;
  top: 0;
  right: -300px;
}

/* bg animation */
.faq_section .faq_bg {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}

/* badge css */

.badge {
  border-radius: var(--test-kart-badge-border-radius);
  color: var(--test-kart-badge-color);
  display: inline-block;
  font-size: var(--test-kart-badge-font-size);
  font-weight: var(--test-kart-badge-font-weight);
  line-height: 1;
  padding: var(--test-kart-badge-padding-y) var(--test-kart-badge-padding-x);
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.bg-info-soft {
  background-color: rgba(14, 165, 233, 0.1);
  color: #0ea5e9;
}

.text-truncate-line-2 {
  font-size: 15px;
  line-height: 1.5 !important;
  font-weight: 600;
}

.total-count {
  color: var(--dark-purple);
  font-weight: 700;
}

.free-test-count {
  color: var(--orange);
  font-weight: 500;
}

.rating-star i {
  color: #ffc107 !important;
}

.teacher_banner {
  height: 300px;
}

.teacher_banner .banner_img {
  height: 100%;
}

.teacher_banner img {
  object-fit: cover;
  object-position: top;
}

.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 30px #ede9fe;
  border: solid 1px var(--bg-white);
  /* height: 100%; */
}